 <div class="container">
   <div class="columns">
     <%
=begin%>
 <% if user_signed_in? %>
     <%= render 'profile' %>
     <% else %>
     <%= render 'trends' %>
     <% end %>
<%
=end%>
     <%= render 'trends' %>
     <%= render 'feed' %>
     <%= render 'who-to-follow' %>
   </div>
 </div>
 </section>
